<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
  </head>
  <body>
    <h1>This page belongs to @<%= data.name %></h1>
    <button>Follow</button>
    <button>Message</button>
    <!-- &nbsp : and non breaking spaces, used to add spaces-->
    <p>
      Followers: <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp; Following: <%=
      data.following %>
    </p>
    <hr />

    <div style="display: flex; gap: 2px">
      <% for(let post of data.posts) { %>
      <div>
        <img
          style="width: 200px; height: 200px"
          src="<%= post.image %>"
          alt="post-image"
        />
        <p>Likes: <%= post.likes %> &nbsp; Comments: <%= post.comments %></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
